body {
    background: #2E4158;
}

.body {
    background: #2E4158;
}

.App {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    color: white;
    width: 100%;
    padding-top: 10%;
    /*padding: 140px 140px;*/
    /*overflow: auto*/
}

.App__Aside {
    width: 50%;
    background-color: #66DAC7;
}

.App__Form {
    width: 50%;
    background-color: #2E4158;
    padding: 25px 40px;
    overflow: auto;
}

.PageSwitcher {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 10%;
}

.PageSwitcher__Item {
    background-color: #4C5D72;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
}

.PageSwitcher__Item--Active {
    background-color: #5ED0C0;
    color: white;
}

.PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.FormCenter {
    /*margin-bottom: 100px;*/
    margin-right: auto;
    margin-left: auto;
}

.FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.FormTitle__Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
}

.FormTitle__Link:first-child {
    margin-left: 0;
}

.FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #199087;
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
}

.FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
}

.FormField__Input::-webkit-input-placeholder {
    color: #616E7F;
}

.FormField__Input:-ms-input-placeholder {
    color: #616E7F;
}

.FormField__Input::-ms-input-placeholder {
    color: #616E7F;
}

.FormField__Input::placeholder {
    color: #616E7F;
}

.FormField__Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
}

.FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
}

.FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
}

.FormField__Checkbox {
    position: relative;
    top: 1.5px;
}

.FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
}

.AppBar {
    height: 10%;
    /*background: #2E4158;*/
}

.ProfileNB {
    background: white;
    position: relative;
    width: 340px;
    height: 260px;
    z-index: 20;
    box-shadow: -2px 2px 4px -1px rgba(0, 0, 0, 0.2), -4px 4px 5px 0 rgba(0, 0, 0, 0.14), -1px 1px 10px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid #9a9a9a;
    border-top-width: 0;
}

.ProfileNB > .fullNameLabel {
    width: 175px;
    height: 20px;
    position: absolute;
    left: 30px;
    top: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.ProfileNB > .emailLabel {
    width: 200px;
    height: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    position: absolute;
    left: 20px;
    top: 70px;
    text-align: center;
    color: black;
}


.ProfileNB > .masterCrown {
    width: 45px;
    height: 45px;
    transform: rotate(315deg);
    position: absolute;
    left: 205px;
    top: 15px;
}

.ProfileNB > .profilePicture {
    width: 95px;
    height: 95px;
    position: absolute;
    left: 220px;
    top: 35px;
    rotation: 0;
    border-radius: 50%;
}

.profilePictureTrigger {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 2%;
}

.ProfileNB > .button {
    height: 40px;
    width: 80px;
    background: #5ED0C0;
    color: white;
    border-radius: 25px;
    position: absolute;
    top: 110px;
    text-align: center;
}

.ProfileNB > .button:hover {
    background: #31a897;
}

.ProfileNB > .profileButton {
    left: 25px;
}

.ProfileNB > .historyButton {
    left: 145px;
}

.ProfileNB > .button > .link {
    text-decoration: none;
    line-height: 40px;
    color: white;
    outline: 0;
    border: none;
}

.ProfileNB > .button > .link:visited {
    text-decoration: none;
    line-height: 40px;
    color: white;
}

.ProfileNB > .button > .link:hover {
    text-decoration: none;
    line-height: 40px;
    color: white;
}

.ProfileNB > .button > .link:active {
    text-decoration: none;
    color: white;
    line-height: 40px;
}


.HomePageMain {
    background: #2E4158;
}

.HomePageMain > .cardGrid {
    padding-top: 4%;
    padding-bottom: 8%;
}

.ArashPageMain {
    background: #2E4158;
}

.DescImage {
    width: 100%;
    margin-top: 10%;
}

.ArashPageMain > .cardGrid {
    padding-top: 4%;
    padding-bottom: 8%;
}

.heroButtons {
    padding-top: 4%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.CompanyCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.CompanyCard > .CardMedia {
    padding-top: 56.25%;
}

.CompanyCard > .CardContent {
    flex-grow: 1;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.flex-row {
    flex-direction: row !important
}

.align-items-center {
    align-items: center !important
}

.justify-content-center {
    justify-content: center !important
}

.clearfix:after {
    display: block;
    clear: both;
    content: ""
}

.float-left {
    float: left !important
}

.display-3 {
    font-size: 4.5rem
}

.mr-4, .mx-4 {
    margin-right: 1.5rem !important
}

.pt-3, .py-3 {
    padding-top: 1rem !important
}

.text-muted {
    color: #73818f !important
}

.float-left {
    float: left !important
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-search:before {
    content: "\F002";
}